.dashboard-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #121212;
  color: white;
}


.dashboard-container h2 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: #1db954;
  margin-bottom: 30px;
}


.widget {
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
  transition: transform 0.3s ease;
}

.widget:hover {
  transform: translateY(-5px);
}


.widget.mt-6 {
  margin-top: 40px;
}


button {
  background-color: #1db954;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1ed760;
}


.track-item,
.artist-item {
  display: flex;
  align-items: center;
  background-color: #2c2c2c;
  padding: 10px;
  margin: 12px 0;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.track-item:hover,
.artist-item:hover {
  background-color: #3b3b3b;
}

.track-item.selected,
.artist-item.selected {
  background-color: #4caf50;
}


.track-item img,
.artist-item img {
  border-radius: 50%;
  margin-right: 15px;
  width: 50px;
  height: 50px;
}

.track-item span,
.artist-item span {
  color: white;
  font-size: 1rem;
  flex: 1;
}

.artist-item .artist-name,
.track-item .artist-name {
  font-size: 0.9rem;
  color: #bbb;
}
