/* TrackWidget.css */
.track-widget {
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  color: white;
}

.track-widget h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.track-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 12px;
  background-color: #2a2a2a;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.track-item:hover {
  background-color: #3b3b3b;
}

.track-item.selected {
  background-color: #4caf50; /* Verde para las canciones seleccionadas */
}

.track-item img {
  border-radius: 5px;
  margin-right: 15px;
}

.track-item span {
  flex: 1;
}

.track-item .artist-name {
  font-size: 0.9rem;
  color: #bbb;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #444;
  border-radius: 6px;
  background-color: #333;
  color: white;
  font-size: 1rem;
}

.loading {
  text-align: center;
  color: #888;
}

.error-message {
  color: red;
  text-align: center;
}
